<div id="page-content">
    <div class="open-orders-container{% if vertical %}-vertical{% endif %}">
        <div class="open-order-display">
            Жарим
        </div>
        {% for open_order in display_open_orders %}
            <div class="open-order-display">
                {{ open_order.daily_number }}
            </div>
        {% empty %}
        {% endfor %}
    </div>
    {% if vertical %}
        <div class="open-orders-container-vertical">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            {% for open_order in display_open_orders2 %}
                <div class="open-order-display">
                    {{ open_order.daily_number }}
                </div>
            {% empty %}
            {% endfor %}
        </div>
    {% endif %}

    {% if vertical %}<div class="center-vertical-line"></div>{% endif %}
    <div class="ready-orders-container{% if vertical %}-vertical{% endif %}">
        <div class="open-order-display">
            Готовы
        </div>
        {% for ready_order in display_ready_orders %}
            <div class="ready-order-display">
            <span class="ready-order-display-number">
                {{ ready_order.daily_number }}
            </span>
                {# {{ ready_order.servery }}#}
            </div>
        {% empty %}
        {% endfor %}
    </div>
    {% if vertical %}
        <div class="ready-orders-container-vertical">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            {% for ready_order in display_ready_orders2 %}
                <div class="ready-order-display">
            <span class="ready-order-display-number">
                {{ ready_order.daily_number }}
            </span>
                    {# {{ ready_order.servery }}#}
                </div>
            {% empty %}
            {% endfor %}
        </div>
    {% endif %}
</div>
