<div class="order-block-container">
    <div class="order-block shadowed">
        <div class="cook-order-block-header" onclick="SelectOrder({{ cooks_order.order.id }})">
            <div class="cook-order-number
                {% if cooks_order.order.content_completed %}
                    ready
                {% elif cooks_order.order.is_grilling %}
                    grilling
                {% endif %}"
                 onclick="SelectOrder({{ cooks_order.order.id }})">
                № {{ cooks_order.order.daily_number }}
            </div>
            <div class="cook-order-cook-part
                {% if cooks_order.order.content_completed %}
                    ready
                {% elif cooks_order.order.is_grilling %}
                    grilling
                {% endif %}"
                 onclick="SelectOrder({{ cooks_order.order.id }})">
                ({{ cooks_order.cook_content_count }})
            </div>
        </div>
    </div>
</div>