{% extends "shaw_queue/base.html" %}
<title>Меню</title>
{% block aditional_static %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'queue/loader.css' %}">
    <script type="text/javascript" src="{% static 'js/menu_handlers.js' %}"></script>
{% endblock %}
{% block content %}
    <iframe id="map" src="https://yandex.ru/map-widget/v1/?ll=61.4291500 55.1540200.&z=11" width="560" height="250" frameborder="1" allowfullscreen="true"></iframe>
    <br>
    <br>
    <p>Адрес</p>
    <input type="text" value="" class="live-search-box" id="address" style="width: 550px;">
    <button class="small-btn" onclick="getCoordinate()">ОК</button>
    <br>
    <input id="coordinate_input" disabled value="61.326502 55.17317">
    <br>
    <br>
    <button type="button" class="small-btn success" onclick="SMS()">
        отправить СМС
    </button>
    <script>
        function SMS() {
            alert('СМС не отправилось')
        }

        function getCoordinate() {
            let iframemap = $('#map');
            let address = $('#address');
            let coordinate_input = $('#coordinate_input');
            $.ajax({
                url: "https://geocode-maps.yandex.ru/1.x/?apikey=269a2016-35b4-43c7-8328-18a84ff550e7&format=json&geocode=Челябинск, " + address.val() + "&results=1",
                type: "GET",
                success: function (data) {
                    let coordinate = data.response.GeoObjectCollection.featureMember[0].GeoObject.Point.pos
                    iframemap.attr('src', 'https://yandex.ru/map-widget/v1/?ll=' + coordinate + '.&z=14')
                    coordinate_input.val(coordinate)

                },
                error: function (xhr, errmsg, err) {
                    alert("Что-то не так: " + errmsg);
                }
            });
        }
    </script>
    <br>
    <br>
    <a class="small-btn" href="/shaw_queue/menu/">назад</a>
{% endblock %}
