{% extends "shaw_queue/base.html" %}
<title>Меню</title>
{% block aditional_static %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/menu_handlers.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="menu-div">
        {% include 'shaw_queue/menu.html' with menu_items=menu_items %}
    </div>
    <input hidden id="urls" data-search-comment="{% url 'search_comment' %}">
    <div class="order-div">
        <table class="currentOrderTable">
            <thead>Содержание заказа
            <tr>
                <td class="currentOrderTotalText">
                    <div>
                        Итого
                    </div>
                </td>
                <td class="currentOrderTotalFig">
                    <div>
                        <p class="totalDisplay">

                        </p>
                    </div>
                </td>
            </tr>
            </thead>

            <tbody></tbody>
            <tfoot>
            <tr>
                <td class="currentOrderTotalText">
                    <div>
                        Итого
                    </div>
                </td>
                <td class="currentOrderTotalFig">
                    <div>
                        <p class="totalDisplay">

                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <button type="button" class="subm" data-send-url="{% url 'make_order' %}">
                    Принять
                </button>
                <p>
                    <input type="checkbox" id="is_paid" checked value="Оплачен" name="Оплачено">
                    <label for="is_paid">Оплачено</label>
                </p>
                <p>
                    <input type="checkbox" id="paid_with_cash" checked value="Оплачен наличными" name="Оплачено наличными">
                    <label for="paid_with_cash">Наличные</label>
                </p>
                <p>
                    <input type="radio" id="cook_auto" name="cook_choose" value="auto" checked>
                    <label for="cook_auto">Автоназначение</label>
                </p>
                {% for available_cooker in available_cookers %}
                    <p>
                        <input type="radio" id="cook_{{ available_cooker.id }}" name="cook_choose" value="{{ available_cooker.id }}">
                        <label for="cook_{{ available_cooker.id }}">{{ available_cooker.user.first_name }} {{ available_cooker.user.last_name }}</label>
                    </p>
                {% endfor %}


            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}