{% block aditional_static %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'queue/loader.css' %}">
    <script type="text/javascript" src="{% static 'js/menu_handlers.js' %}"></script>
{% endblock %}
{% block content %}
    <input hidden id="menu-urls" data-status-refresh-url="{% url 'status_refresh' %}"
           data-search-comment="{% url 'search_comment' %}">
    <input hidden id="is-modal" value="{{ is_modal }}">
    {% if order_id %}
        <input hidden id="order_id" value="{{ order_id }}">
    {% endif %}
    <div class="modal-menu modal-content" style="width:80%; height: 80%; max-height: 650px">
        <div class="modal" id="modal-edit">
            <div class="modal-content">
                <span class="close" id="close-modal">&times;</span>
                <p id="item-title" class="modal-title">Title</p>
                <p>
                    <label for="item-quantity" class="modal-label">Количество</label>
                    <input type="text" value="" class="quantityInput" id="item-quantity"
                           onclick="this.setSelectionRange(0, this.value.length)">
                    <button class="btn info" id="plus-button">+</button>
                    <button class="btn info" id="minus-button">-</button>
                <div class="quick-comment-container">
                    <button class="btn img-btn" id="cheese-button"><img alt="" src="{% static 'img/btns/cheese.png' %}">
                    </button>
                    <button class="btn img-btn" id="greens-button"><img alt="" src="{% static 'img/btns/greens.png' %}">
                    </button>
                    <button class="btn img-btn" id="spicy-button"><img alt="" src="{% static 'img/btns/spicy.png' %}">
                    </button>
                    <button class="btn img-btn" id="spicy30-button"><img alt=""
                                                                         src="{% static 'img/btns/spicy30.png' %}">
                    </button>
                    <button class="btn img-btn" id="yellow-button"><img alt="" src="{% static 'img/btns/yellow.png' %}">
                    </button>
                    <button class="btn img-btn" id="noOnion-button"><img alt=""
                                                                         src="{% static 'img/btns/noOnion.png' %}">
                    </button>
                    <button class="btn img-btn" id="saucePlus-button"><img alt=""
                                                                           src="{% static 'img/btns/saucePlus.png' %}">
                    </button>
                    <button class="btn img-btn" id="sauceMinus-button"><img alt=""
                                                                            src="{% static 'img/btns/sauceMinus.png' %}">
                    </button>
                    <button class="btn img-btn" id="noVegetables-button"><img alt=""
                                                                              src="{% static 'img/btns/noVegetables.png' %}">
                    </button>
                    <button class="btn img-btn" id="frenchFries-button"><img alt=""
                                                                             src="{% static 'img/btns/frenchFries.png' %}">
                    </button>
                    <button class="btn img-btn" id="chile-button"><img alt=""
                                                                       src="{% static 'img/btns/chile.png' %}">
                    </button>
                    <button class="btn img-btn" id="mushrooms-button"><img alt=""
                                                                           src="{% static 'img/btns/mushrooms.png' %}">
                    </button>
                    <button class="btn img-btn" id="jalapeno-button"><img alt=""
                                                                          src="{% static 'img/btns/jalapeno.png' %}">
                    </button>
                    <button class="btn img-btn" id="bellPepper-button"><img alt=""
                                                                            src="{% static 'img/btns/bellPepper.png' %}">
                    </button>
                </div>
                </p>
                <p>
                    <label for="item-note" class="modal-label">Комментарий</label>
                    <input type="text" value="" class="live-search-box" id="item-note">
                <div id="dropdown-list-container"></div>
                </p>
            </div>
        </div>
        <div class="modal" id="modal-status">
            <div class="modal-content">
                {#            <span class="close" id="close-modal-status">&times;</span>#}
                <div class="loader-container" id="loader-container">
                    <div class="loader" id="loading-indicator"></div>
                </div>
                <p class="status-display" id="status-display">
                    Статус...
                </p>
                <p class="modal-cash-input-container">
                    <label for="order-change" class="modal-label" id="order-change-label" hidden>Наличные</label>
                    <input type="text" value="" class="modal-quantity-input" id="order-change"
                           onclick="this.setSelectionRange(0, this.value.length)" onkeyup="CalculateChange()" hidden>
                </p>
                <p class="status-display" id="change-display" hidden>
                    Сдача...
                </p>
                <p class="modal-buttons-container">
                    <button class="btn success" id="status-OK-button">OK</button>
                    <button class="btn danger" id="status-cancel-button" onclick="CancelHandler()">Отмена</button>
                    <button class="btn warning" id="status-retry-button" onclick="RetryHandler()">Повторить</button>
                    <button class="btn warning" id="status-retry-cash-button" onclick="RetryCashHandler()">Оплатить
                        наличными
                    </button>
                </p>
            </div>
        </div>
        <span class="close" id="close-modal-menu">&times;</span>
        <div class="menu-div" style="width:calc(100% - 300px); height:100%; max-height: 650px;">
            {% include 'shaw_queue/menu.html' with menu_items=menu_items %}
        </div>
        <div class="order-div" style="width:250px;">

            <button type="button" class="subm small-btn success" data-send-url="{% url 'make_order' %}"
                    onclick="SendOrder()">
                Принять
            </button>
            <div class="shadowed">
                <p>
                    <input type="radio" id="not_paid"{% if not order.is_paid %} checked{% endif %} value="not_paid" name="payment_choose">
                    <label for="not_paid">Не Оплачен</label>
                </p>
                <p>
                    <input type="radio" id="paid_with_cash"{% if order.is_paid %} checked{% endif %} value="paid_web" name="payment_choose">
                    <label for="paid_with_cash">Оплачен на сайте</label>
                </p>
                {% if not delivery_mode %}
                    <p>
                        <input type="radio" id="paid_with_cash" value="paid_with_cash"
                               name="payment_choose">
                        <label for="paid_with_cash">Наличные</label>
                    </p>
                    <p>
                        <input type="radio" id="paid_without_cash" value="paid_without_cash"
                               name="payment_choose">
                        <label for="paid_without_cash">Безналичный</label>
                    </p>
                {% endif %}
            </div>
            <div class="shadowed">
                {% if not delivery_mode %}
                    <p>
                        <input type="radio" id="cook_auto" checked name="cook_choose" value="auto">
                        <label for="cook_auto">Автоназначение</label>
                    </p>
                    {% for available_cooker in available_cookers %}
                        <p>
                            <input type="radio" id="cook_{{ available_cooker.id }}" name="cook_choose"
                                   value="{{ available_cooker.id }}">
                            <label for="cook_{{ available_cooker.id }}">{{ available_cooker.user.first_name }} {{ available_cooker.user.last_name }}</label>
                        </p>
                    {% endfor %}
                {% else %}
                    <p>
                        <input type="radio" id="cook_delivery" checked name="cook_choose" value="delivery">
                        <label for="cook_auto">Доставка</label>
                    </p>
                {% endif %}
            </div>
            <div style="overflow-y: scroll; max-height: 500px;">
                <table class="currentOrderTable" id="menu-order-display">
                    <thead>Содержание заказа
                    <tr>
                        <td class="currentOrderTotalText">
                            <div>
                                Итого
                            </div>
                        </td>
                        <td class="currentOrderTotalFig">
                            <div>
                                <p class="totalDisplay">

                                </p>
                            </div>
                        </td>
                    </tr>
                    </thead>

                    <tbody></tbody>
                    <tfoot>
                    <tr>
                        <td class="currentOrderTotalText">
                            <div>
                                Итого
                            </div>
                        </td>
                        <td class="currentOrderTotalFig">
                            <div>
                                <p class="totalDisplay">

                                </p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                    </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>
{% endblock %}
