{% extends 'shaw_queue/base.html' %}
{% block aditional_static %}
{% load static %}
    <link rel="stylesheet" type="text/css" href={% static 'queue/jquery.datetimepicker.min.css' %}>
    <script type="text/javascript" src="{% static 'js/statistics_handlers.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.datetimepicker.full.js' %}"></script>
{% endblock %}
{% block content %}
    <input hidden id="urls" data-update-statistics-url="{% url 'update_opinion_statistics' %}">
    <div class="stat-controls">
        <label for="datetimepicker1">От:</label>
        <input type="text" id="datetimepicker1"/>
        <label for="datetimepicker2">До:</label>
        <input type="text" id="datetimepicker2"/>
    </div>
    <div id="statistics-content">
    <div class="stat-sect-container">
        Всего заказов: {{ total_pauses }}
        Мин. оценка: {{ min_duration }}
        Ср. оценка: {{ avg_duration }}
        Макс. оценка: {{ max_duration }}
        <div class="stat-cook-table-header">
            <div class="stat-opinion-order-datetime">
                Повар
            </div>
            <div class="stat-opinion-daily-number">
                Начало
            </div>
            <div class="stat-opinion-note">
                Конец
            </div>
            <div class="stat-opinion-mark">
                Продолжительность
            </div>
        </div>
        {% for pause in pauses %}
            <div class="stat-view-container">
                <div class="stat-view" id="pause-{{ forloop.counter }}">
                    <div class="stat-opinion-order-datetime">
                        {{ pause.staff }}
                    </div>
                    <div class="stat-opinion-daily-number">
                        {{ pause.start_timestamp }}
                    </div>
                    <div class="stat-opinion-note">
                        {{ pause.start_timestamp }}
                    </div>
                    <div class="stat-opinion-mark">
                        {{ pause.duration }}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="stat-actions-container">
            <button onclick="UpdateStatistics()">Обновить</button>
        </div>
    </div>

    </div>
{% endblock %}